In [1]:
!pip install mysql-connector-python pandas

Requirement already satisfied: mysql-connector-python in /opt/anaconda3/envs/fragrance_collection/lib/python3.12/site-packages (9.5.0)
Requirement already satisfied: pandas in /opt/anaconda3/envs/fragrance_collection/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/envs/fragrance_collection/lib/python3.12/site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/fragrance_collection/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/fragrance_collection/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/fragrance_collection/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/fragrance_collection/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import mysql.connector
import pandas as pd
from dotenv import load_dotenv
import os

# MySQL connection details are stored in connector.env file.
load_dotenv("connector.env")

# Establishing the connection to the MySQL database
conn = mysql.connector.connect(
    host = os.getenv("MYSQL_HOST"),
    user = os.getenv("MYSQL_USER"),
    password = os.getenv("MYSQL_PASSWORD"),
    database = os.getenv("MYSQL_DB")
)

table = "fragrances"

df = pd.read_sql(f"SELECT * FROM {table}", conn)

# Transforming DataFrame into csv file.
df.to_csv("fragrances.csv", index=False)

df.head()

/var/folders/g4/f7f80pgs6r7b7b6g_79_c_rh0000gn/T/ipykernel_14632/2500063313.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

,id,name,brand,size_ml,concentration,retail_price,notes,season,image_path
0,1,Paper (Expressive),Commodity,100,Eau de Parfum,155.0,"Iso E super, Cedar, Sandalwood",Spring,Images/Commodity Paper (Expressive).webp
1,2,Spicebomb Extreme,Viktor & Rolf,90,Eau de Parfum,155.0,"Saffron, Cinnamon, Cumin, Bourbon Whiskey, Tab...",Fall/Winter,Images/Spicebomb Extreme.webp
2,3,Bleu de Chanel,Chanel,100,Eau de Parfum,165.0,"Grapefruit, Lemon, Mint, Pink Pepper, Ginger, ...",All Seasons,Images/Bleu de Chanel EDP.jpg
3,4,Side Effect,Initio,50,Eau de Parfum,280.0,"Rum, Tabacoo, Cinnamon, Saffron, Sandalwood, H...",Fall/Winter,Images/Side Effect.jpg
4,5,Y,Yves Saint Laurent,100,Eau de Parfum,165.0,"Apple, Ginger, Bergamot, Sage, Juniper Berries...",All Seasons,Images/Y EDP.jpg